---
import "@fontsource-variable/montserrat";
import "@/styles/global.scss";
// components/SEO.astro
interface SEOProps {
	title: string;
	description: string;
	keywords?: string[];
	author?: string;
	canonicalUrl?: string;
	ogUrl?: string;
	ogType?: string;
	ogTitle?: string;
	ogDescription?: string;
	ogImage?: string;
	ogImageAlt?: string;
	ogImageWidth?: string;
	ogImageHeight?: string;
	twitterCard?: string;
	twitterTitle?: string;
	twitterDescription?: string;
	twitterImage?: string;
	fbAppId?: string;
}

const props = Astro.props as SEOProps;
---

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<link rel="icon" type="image/png" href="/favicon.png" />
	<meta name="generator" content={Astro.generator} />
	<title>{props.title}</title>
	<meta name="description" content={props.description} />
	{
		props.keywords && (
			<meta name="keywords" content={props.keywords.join(", ")} />
		)
	}
	{props.author && <meta name="author" content={props.author} />}
	{props.canonicalUrl && <link rel="canonical" href={props.canonicalUrl} />}
	{props.ogUrl && <meta property="og:url" content={props.ogUrl} />}
	{props.ogType && <meta property="og:type" content={props.ogType} />}
	{props.ogTitle && <meta property="og:title" content={props.ogTitle} />}
	{
		props.ogDescription && (
			<meta property="og:description" content={props.ogDescription} />
		)
	}
	{props.ogImage && <meta property="og:image" content={props.ogImage} />}
	{
		props.ogImageAlt && (
			<meta property="og:image:alt" content={props.ogImageAlt} />
		)
	}
	{
		props.ogImageWidth && (
			<meta property="og:image:width" content={props.ogImageWidth} />
		)
	}
	{
		props.ogImageHeight && (
			<meta property="og:image:height" content={props.ogImageHeight} />
		)
	}
	{props.fbAppId && <meta property="fb:app_id" content={props.fbAppId} />}
	{
		props.twitterCard && (
			<meta name="twitter:card" content={props.twitterCard} />
		)
	}
	{
		props.twitterTitle && (
			<meta name="twitter:title" content={props.twitterTitle} />
		)
	}
	{
		props.twitterDescription && (
			<meta name="twitter:description" content={props.twitterDescription} />
		)
	}
	{
		props.twitterImage && (
			<meta name="twitter:image" content={props.twitterImage} />
		)
	}
</head>
