---
// import { getCollection } from "astro:content";
import config from "@/data/config";
import PagesLayout from "@/layouts/PagesLayout.astro";
import Hero from "@/components/Hero.astro";
import CardsContainer from "@/components/shared/CardsContainer.astro";
import PlanCard from "@/components/shared/PlanCard.astro";
import SectionHeading from "@/components/shared/SectionHeading.astro";
import Button from "@/components/shared/Button.astro";
import Carousel from "@/components/shared/Carousel.astro";

const classes = [
	"Yellow",
	"Green",
	"Purple",
	"LightBlue",
	"DarkGreen",
	"Orange",
	"LightOrange",
];
---

<PagesLayout
	image="/screenshot.png"
	title="Perasconharina - P치ginas Web econ칩micas para PYMES"
	description="Expertos en dise침o y desarrollo Web a tu servicio. Creamos p치ginas Web para PYMES de manera profesional.">
	<Hero />

	<SectionHeading
		title="Elige tu plan"
		description="Tenemos un Plan adecuado para cada tipo de negocio 춰Paga hasta en 6 cuotas 游눱!"
	/>
	<div class="Container">
		<CardsContainer>
			{
				config.plans.slice(0, 3).map((plan, index) => (
					<PlanCard
						price={plan.price}
						title={plan.name}
						description={plan.description}
						classes={classes[index % classes.length]}
						tag={plan.tag}
						features={plan.features}>
						{/* <a href={`/plans/${plan.slug}`} class="Button Button-sm Orange">
							Lo quiero!
						</a> */}
						<a href="/contact" class="Button Button-sm Orange">
							Lo quiero!
						</a>
					</PlanCard>
				))
			}
		</CardsContainer>
		<SectionHeading title="Conoce algunos de nuestros proyectos" />
		<Carousel />
		<SectionHeading
			title="쮹uscas m치s opciones de planes?"
			description="Conoce todos nuestros planes">
			<Button
				text="Ver todos los planes"
				url="/plans"
				classes="Button Button-l Orange"
			/>
		</SectionHeading>
	</div>
</PagesLayout>
