---
import PagesLayout from "@/layouts/PagesLayout.astro";
import PlanCard from "@/components/shared/PlanCard.astro";
import CardsContainer from "@/components/shared/CardsContainer.astro";
import SectionHeading from "@/components/shared/SectionHeading.astro";
import config from "@/data/config";
const classes = [
	"Yellow",
	"Green",
	"Purple",
	"LightBlue",
	"DarkGreen",
	"Orange",
	"LightOrange",
];
const seoData = {
	title: "Planes - Peras con Harina",
	description:
		"Elige tu plan según tu negocio. Te asesoraremos para que tomes la mejor decisión",
	keywords: [
		"Páginas web económicas",
		"Páginas web para PYMES",
		"Páginas Web de alta calidad",
	],
	canonicalUrl: "https://www.perasconharina.com/about",
	ogType: "website",
	ogTitle: "Planes - Peras con Harina",
	ogDescription:
		"Elige tu plan según tu negocio. Te asesoraremos para que tomes la mejor decisión",
	ogImage: "https://www.perasconharina.com/src/assets/site-images/about.jpg",
	ogImageAlt: "Imagen del equipo de Peras con Harina trabajando en un diseño",
	twitterCard: "summary_large_image",
	twitterTitle: "Planes - Peras con Harina",
	twitterDescription:
		"Elige tu plan según tu negocio. Te asesoraremos para que tomes la mejor decisión",
	twitterImage:
		"https://www.perasconharina.com/src/assets/site-images/about.jpg",
};
---

<PagesLayout seo={seoData} />

<div class="Container">
	<CardsContainer>
		{
			config.plans.map((plan, index) => (
				<PlanCard
					price={plan.price}
					title={plan.name}
					description={plan.description}
					classes={classes[index % classes.length]}
					tag={plan.tag}
					features={plan.features}>
					{/* <a href={`/plans/${plan.slug}`} class="Button Button-sm Orange">
							Lo quiero!
						</a> */}
					<a href="/contact" class="Button Button-sm Orange">
						Lo quiero!
					</a>
				</PlanCard>
			))
		}
	</CardsContainer>
</div>
